{% extends 'formulario/baseformulario.html' %}
{% block titulo %} Datos de Estudios {% endblock %}

{% block contenido %}
<div class="banner">
  <div class="container p-5">
    <div class="card mx-3 mt-n5 shadow-lg">
      <div class="card-body p-5">
        <div class="row text-center">
          <h5 class="pb-2" style="font-size: 2.5rem;">Informacion de Estudios</h5>
        </div>

        <hr class="hr-navbar opacity-100 my-4">
        <form action="/estudios" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

          <!-- Grupo 1 de campos del formulario -->
          <div class="row contenedor-campos">
            <div class="col-md-4">
              <label class="text-label" for="nivelInput">Universidad de procedencia</label>
              <div class="form-group my-3">
                <input type="text" class="datos" id="nivelInput" placeholder="Ingresa tu universidad de procedencia"
                  name="nivel" required>
              </div>
            </div>
            <div class="col-md-4">
              <label class="text-label" for="carreraInput">Carrera de procedencia</label>
              <div class="form-group my-3">
                <input type="text" class="datos" id="carreraInput" placeholder="Ingresa tu carrera de procedencia"
                  name="carrera" required>
              </div>
            </div>
            <div class="col-md-4">
              <label class="text-label" for="tituladoInput">Titulado</label>
              <div class="form-group my-3">
                <select class="datos" id="tituladoInput" name="titulado" required>
                  <option value="" disabled selected>Selecciona una opción</option>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                  <option value="En Proceso">En proceso</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Grupo 2 de campos del formulario -->
          <div class="row contenedor-campos">
            <div class="col-md-4">
              <label class="text-label" for="cicloInput">Ciclo escolar egreso</label>
              <div class="form-group my-3">
                <input type="text" class="datos" id="cicloInput" placeholder="Ingresa tu ciclo de egreso (Ej. 2021A)"
                  name="ciclo" pattern="^\d{4}[AB]$" title="El formato debe ser como '2021A' o '2021B'" required>
              </div>
            </div>
            <div class="col-md-4">
              <label class="text-label" for="nivelinglesInput">Nivel de ingles</label>
              <div class="form-group my-3">
                <select class="datos" id="nivelinglesInput" name="ingles" required>
                  <option value="" disabled selected>Selecciona una opción</option>
                  <option value="A0: Principiante">A0: Principiante</option>
                  <option value="A1-A2: Básico">A1-A2: Básico</option>
                  <option value="A2-B1: Pre-intermedio">A2-B1: Pre-intermedio</option>
                  <option value="B1: Intermedio">B1: Intermedio</option>
                  <option value="B2: Intermedio-Alto">B2: Intermedio-Alto</option>
                  <option value="C1-C2: Avanzado">C1-C2: Avanzado</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <label class="text-label" for="promedioInput">Promedio</label>
              <div class="form-group my-3">
                <input type="number" class="datos" id="promedioInput" placeholder="Ingresa tu promedio"
                  name="promedio" min="0" max="100" step="0.1" required>
              </div>
            </div>
          </div>

          <hr class="hr-navbar opacity-100 my-4">
          <!-- Botones de navegación -->
          <div class="nav-buttons mt-4 text-end">
            <button type="submit" class="btn-siguiente">Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
