{% extends 'base.html' %}
{% block titulo %} Datos Generales {% endblock %}

{%block cssPersonalizado%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
<script src="https://kit.fontawesome.com/deb38cd3d7.js" crossorigin="anonymous"></script>
{%endblock%}

{% block contenido %}
  <div class="banner">
    <div class="container p-5">
      <div class="card mx-3 mt-n5 shadow-lg circular" style="border-radius: 40px; border: none">
        <div class="card-body p-5">
          <h5 class="pb-2 text-center registro-text">REGISTRO</h5>
          <h5 class="pb-2 text-center datos-generales-text">Informacion laboral</h5>
          <hr>
          <form action="/laboral" method="POST" onsubmit="return confirmarEnvio()">
            <!-- Grupo 1 de campos del formulario -->
            <div class="row">
                <div class="col-md-4">
                    <label for="trabajoInput">¿Estás actualmente trabajando?</label>
                    <div class="form-group mb-3">
                        <select class="form-select circular" id="trabajoInput" name="trabajasiono">
                            <option disabled selected>Selecciona una opción</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="nombreempresaInput">Nombre del lugar de trabajo</label>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control circular" id="nombreempresaInput" name="lugardetrabajo" placeholder="Ingresa el nombre del lugar de trabajo" data-na>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="horarioInput">Horario laboral</label>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control circular" id="horarioInput" name="horariolaboral" placeholder="Ingresa tu horario laboral" data-na>
                    </div>
                </div>
            </div>
    
            <!-- Grupo 2 de campos del formulario -->
            <div class="row">
                <div class="col-md-4">
                    <label for="puestoInput">Puesto de trabajo</label>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control circular" id="puestoInput" name="puestolaboral" placeholder="Ingresa tu puesto" data-na>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="sectorInput">Sector</label>
                    <div class="form-group mb-3">
                        <select class="form-select circular" id="sectorInput" name="sector" data-na>
                            <option disabled selected>Selecciona una opción</option>
                            <option value="Publico">Público</option>
                            <option value="Privado">Privado</option>
                            <option value="NoAplica">N/A</option>
                        </select>
                    </div>
                </div>
                
                <!-- Botones de navegación -->
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" style="border-radius: 30px; background-color: #0C616E;">Regresar</button>
                    <button type="submit" class="btn btn-primary" style="border-radius: 30px; background-color: #0C616E; text-align: center;">Siguiente</button>
                </div>
            </div>
        </form>


        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script>
    function confirmarEnvio() {
        // Mostrar una alerta y preguntar al usuario si está seguro de enviar los datos
        return confirm("¿Seguro que quieres enviar tus datos?");
    }
</script>
{%endblock%}
