<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://fonts.cdnfonts.com/css/nexa-bold?styles=29913" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/handil-pro?styles=162901" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
  <script src="https://kit.fontawesome.com/deb38cd3d7.js" crossorigin="anonymous"></script>
  <script src="formulario.js"></script>

  <title>Formulario de Posgrado</title>
</head>
<body>
  <!-- Barra de navegación -->
  <div class="navbar navbar-expand-lg navbar-color">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/cutonala.png') }}" alt="Tu Logo" width="120" height="50" class="d-inline-block align-top logo-with-shadow">
      </a>
    </div>
  </div>
  <div class="banner">
    <div class="container p-5">
      <div class="card mx-3 mt-n5 shadow-lg circular" style="border-radius: 40px; border: none">
        <div class="card-body p-5">
          <h5 class="pb-2 text-center registro-text">REGISTRO</h5>
          <h5 class="pb-2 text-center datos-generales-text">Posgrado</h5>
          <hr>
          <form action="/seleccion" method="post">
            <!-- Selección de Posgrado -->
            <div class="form-group mb-3">
              <label for="posgradoInput">Escoge un posgrado</label>
              <select class="form-select circular" id="posgradoInput" onchange="mostrarOpciones()">
                <option disabled selected>Selecciona una opción</option>
                <option value="maestria">Maestría</option>
                <option value="doctorado">Doctorado</option>
              </select>
            </div>

            <!-- Opciones para Maestría -->
            <div id="maestriaOpciones" style="display: none;">
              <label for="maestriaInput">Selecciona una maestría</label>
              <select class="form-select circular" id="maestriaInput">
                <option disabled selected>Selecciona una opción</option>
                <option value="Maestría en Movilidad Urbana, Transporte y Territorio">Maestría en Movilidad Urbana, Transporte y Territorio</option>
                <option value="Maestría en Ingeniería del Agua y la Energía (Profesionalizante)">Maestría en Ingeniería del Agua y la Energía (Profesionalizante)</option>
                <option value="Maestría en Gestión de Gobiernos Locales">Maestría en Gestión de Gobiernos Locales</option>
                <option value="Maestría en Geología">Maestría en Geología</option>
                <option value="Maestría en Ciencias en Ingeniería del Agua y la Energía (Investigación)">Maestría en Ciencias en Ingeniería del Agua y la Energía (Investigación)</option>
                <option value="Maestría en Ciencias Antropológicas">Maestría en Ciencias Antropológicas</option>
                <option value="Maestría en Ciencia de la Ciudad">Maestría en Ciencia de la Ciudad</option>
                <option value="Maestría en Bioética">Maestría en Bioética</option>
              </select>
            </div>

            <!-- Opciones para Doctorado -->
            <div id="doctoradoOpciones" style="display: none;">
              <label for="doctoradoInput">Selecciona un doctorado</label>
              <select class="form-select circular" id="doctoradoInput">
                <option disabled selected>Selecciona una opción</option>
                <option value="Doctorado en Movilidad Urbana, Transporte y Territorio">Doctorado en Movilidad Urbana, Transporte y Territorio</option>
                <option value="Doctorado en Investigación Multidisciplinaria en Salud">Doctorado en Investigación Multidisciplinaria en Salud</option>
                <option value="Doctorado en Geología">Doctorado en Geología</option>
                <option value="Doctorado en Derechos Humanos">Doctorado en Derechos Humanos</option>
                <option value="Doctorado en Agua y Energía">Doctorado en Agua y Energía</option>
              </select>
            </div>
            
            <!-- Espacio en blanco para separar los botones -->
            <div style="height: 20px;"></div>
            
            <!-- Botones de navegación -->
            <div class="nav-buttons mt-4 text-center">
                <button type="submit" class="btn btn-primary" style="border-radius: 30px; background-color: #0C616E; text-align: center;">Siguiente</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LE"></script>
  <script>
    function mostrarOpciones() {
      const posgradoInput = document.getElementById("posgradoInput");
      const maestriaOpciones = document.getElementById("maestriaOpciones");
      const doctoradoOpciones = document.getElementById("doctoradoOpciones");

      if (posgradoInput.value === "maestria") {
        maestriaOpciones.style.display = "block";
        doctoradoOpciones.style.display = "none";
      } else if (posgradoInput.value === "doctorado") {
        doctoradoOpciones.style.display = "block";
        maestriaOpciones.style.display = "none";
      } else {
        maestriaOpciones.style.display = "none";
        doctoradoOpciones.style.display = "none";
      }
    }
  </script>
</body>
</html>
