{% extends 'base.html' %}
{% block titulo %} Registro {% endblock %}

{%block cssPersonalizado%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
<script src="https://kit.fontawesome.com/deb38cd3d7.js" crossorigin="anonymous"></script>
{%endblock%}

{% block contenido %}
  <div class="banner">
    <div class="container p-5">
      <div class="card shadow-lg rounded-4">
        <div class="card-body p-5">
          <h3 class="pb-2 text-center">REGISTRO</h3>
          <h5 class="pb-2 text-center">Posgrado</h5>
          <hr class="hr-navbar opacity-100 my-4">
          <form action="/seleccion" method="post">
            <!-- Selección de Posgrado -->
            <div class="form-group mb-3">
              <label class="mb-3" for="posgradoInput">Escoge un posgrado</label>
              <select class="col-12" id="posgradoInput" onchange="mostrarOpciones()">
                <option disabled selected>Selecciona una opción</option>
                <option value="maestria">Maestría</option>
                <option value="doctorado">Doctorado</option>
              </select>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 
            <!-- Opciones para Maestría -->
            <div id="maestriaOpciones" style="display: none;">
              <label for="maestriaInput">Selecciona una maestría</label>
              <select class="form-select circular" id="maestriaInput">
                <option disabled selected>Selecciona una opción</option>
                <option value="Maestría en Movilidad Urbana, Transporte y Territorio">Maestría en Movilidad Urbana, Transporte y Territorio</option>
                <option value="Maestría en Ingeniería del Agua y la Energía (Profesionalizante)">Maestría en Ingeniería del Agua y la Energía (Profesionalizante)</option>
                <option value="Maestría en Gestión de Gobiernos Locales">Maestría en Gestión de Gobiernos Locales</option>
                <option value="Maestría en Geología">Maestría en Geología</option>
                <option value="Maestría en Ciencias en Ingeniería del Agua y la Energía (Investigación)">Maestría en Ciencias en Ingeniería del Agua y la Energía (Investigación)</option>
                <option value="Maestría en Ciencias Antropológicas">Maestría en Ciencias Antropológicas</option>
                <option value="Maestría en Ciencia de la Ciudad">Maestría en Ciencia de la Ciudad</option>
                <option value="Maestría en Bioética">Maestría en Bioética</option>
              </select>
            </div>

            <!-- Opciones para Doctorado -->
            <div id="doctoradoOpciones" style="display: none;">
              <label for="doctoradoInput">Selecciona un doctorado</label>
              <select class="form-select circular" id="doctoradoInput">
                <option disabled selected>Selecciona una opción</option>
                <option value="Doctorado en Movilidad Urbana, Transporte y Territorio">Doctorado en Movilidad Urbana, Transporte y Territorio</option>
                <option value="Doctorado en Investigación Multidisciplinaria en Salud">Doctorado en Investigación Multidisciplinaria en Salud</option>
                <option value="Doctorado en Geología">Doctorado en Geología</option>
                <option value="Doctorado en Derechos Humanos">Doctorado en Derechos Humanos</option>
                <option value="Doctorado en Agua y Energía">Doctorado en Agua y Energía</option>
              </select>
            </div>
            
            <!-- Espacio en blanco para separar los botones -->
            <div style="height: 20px;"></div>
            
            <!-- Botones de navegación -->
            <div class="nav-buttons mt-4 text-end">
                <button type="submit" class="btn-siguiente">Siguiente</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function mostrarOpciones() {
      const posgradoInput = document.getElementById("posgradoInput");
      const maestriaOpciones = document.getElementById("maestriaOpciones");
      const doctoradoOpciones = document.getElementById("doctoradoOpciones");

      if (posgradoInput.value === "maestria") {
        maestriaOpciones.style.display = "block";
        doctoradoOpciones.style.display = "none";
      } else if (posgradoInput.value === "doctorado") {
        doctoradoOpciones.style.display = "block";
        maestriaOpciones.style.display = "none";
      } else {
        maestriaOpciones.style.display = "none";
        doctoradoOpciones.style.display = "none";
      }
    }
  </script>

  {%endblock%}