{% extends 'base.html' %}
{% block titulo %} Pagina de Inicio {% endblock %}

{% block contenido %}

<div class="container mt-5">

<div class="container-fluid p-0">
    <div id="carouselExampleRide" class="carousel slide shadow mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleRide" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-overlay"></div>
                <img src="{{ url_for('static', filename='img/banner.png') }}" class="d-block w-100 img-fluid carousel-img" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-overlay"></div>
                <img src="{{ url_for('static', filename='img/1.jpg') }}" class="d-block w-100 img-fluid carousel-img" alt="...">
            </div>
            <div class="carousel-item">
                <div class="carousel-overlay"></div>
                <img src="{{ url_for('static', filename='img/2.jpg') }}" class="d-block w-100 img-fluid carousel-img" alt="...">
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


 
    <div class="card text-center p-5 shadow mb-5 rounded" style="background-color: #002d6318;">
        <div class="card-body">
            <h5 class="card-title py-4">¡Bienvenido a la convocatoria de Maestrías y Doctorados del Centro Universitario de Tonalá!</h5>
            <p class="py-2">En el CUT, nos enorgullecemos de ofrecer programas de posgrado de alta calidad diseñados para preparar a nuestros estudiantes para carreras exitosas en sus campos de interés. Nuestros programas de maestría y doctorado son impartidos por destacados profesores e investigadores que están a la vanguardia de sus disciplinas.</p>
            <hr class="my-4">
            <p class="text-muted">Únete a nosotros y sé parte de una comunidad académica innovadora y en constante crecimiento.</p>
        </div>
    </div>
    


    <div class="container text-center p-5 shadow mb-5 bg-body-tertiary rounded">
        <div class="row">
            <h5 class="py-4" style="font-size: 2.5rem;">¡Convocatorias Actuales!</h5>
            <p class="py-4">
                ¡No te pierdas nuestras próximas convocatorias! Aquí están las fechas de apertura para cada carrera:
            </p>
            <ul class="list-unstyled">
                <li><strong>Maestría en Movilidad Urbana, Transporte y Territorio:</strong> 1 de marzo - 31 de marzo</li>
                <li><strong>Maestría en Ingeniería del Agua y la Energía (Profesionalizante):</strong> 1 de abril - 30 de abril</li>
                <li><strong>Maestría en Gestión de Gobiernos Locales:</strong> 1 de mayo - 31 de mayo</li>
            </ul>
            <p class="py-4">
                Si te interesa alguna de nuestras carreras, <strong>regístrate aquí</strong> para recibir más información y estar al tanto de las últimas noticias.
            </p>
            <form action="/seleccion" method="get">
                <button type="submit" class="btn-registro mx-auto my-0 py-3 col-2">REGÍSTRATE</button>
            </form>
        </div>
    </div>

    <div class="container text-center p-5 shadow mb-5 rounded" style="background-color: #002d6318;">
        <h2 class="text-start mb-3 " style="font-size: 2.5rem;">Maestrias</h2>
        <p class="text-start mb-5 " style="font-size: 2rem; text-align: justify;">Explora nuestras maestrías diseñadas para potenciar tu futuro profesional y académico. Cada programa combina teoría y práctica, impartido por expertos en sus respectivos campos.</p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMovUrbana" aria-expanded="false" aria-controls="collapseMovUrbana">
                        Maestría en Movilidad Urbana, Transporte y Territorio
                    </button>
                </h2>
                <div id="collapseMovUrbana" class="accordion-collapse collapse px-4 py-4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body text-start">
                        En un acercamiento general sobre la problemática de las ciudades, cada vez más acentuada en
                        el tema de la
                        movilidad urbana y el transporte, resalta la necesidad de realizar estudios sobre su
                        desarrollo,
                        sus posibilidades creativas, renovación de las infraestructuras, de los equipamientos, de
                        los materiales y
                        capacidades técnicas, así como los métodos y tecnologías en que pueden apoyarse en cada una
                        de sus variantes.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseIngEnergia" aria-expanded="false"
                            aria-controls="collapseIngEnergia">
                            Maestría en Ingeniería del Agua y la Energía (Profesionalizante)
                        </button>
                    </h2>
                    <div id="collapseIngEnergia" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            Existe una demanda en la región en la temática de sustentabilidad del agua y la energía,
                            en
                            los sectores privado, gubernamental, académico y social.
                            La Maestría en Ingeniería del agua y Energía, formará recursos humanos de alto nivel que
                            impulsen el desarrollo. Se requieren en el estado nuevas ideas, soluciones prácticas y
                            económicas en la gestión integral de los recursos hídrico y energético. Este programa de
                            posgrado será un programa académico escolarizado, con orientación profesionalizante.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGestionGobiernos" aria-expanded="false"
                            aria-controls="collapseGestionGobiernos">
                            Maestría en Gestión de Gobiernos Locales
                        </button>
                    </h2>
                    <div id="collapseGestionGobiernos" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            En este programa buscamos formar profesionales del sector público en el ámbito local
                            que, en
                            su día a día, construyan una mejor vida en común.
                            Para esto ofrecemos un proceso de formación serio y orientado a la práctica. Si deseas
                            participar en este proyecto te verás involucrado en cursos,
                            talleres, conferencias y proyectos vinculados con tu práctica profesional. Nos centramos
                            en
                            ofrecer a ti y a la instancia donde laboras resultados académicos de utilidad.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseGeologia" aria-expanded="false"
                            aria-controls="collapseGeologia">
                            Maestría en Geología
                        </button>
                    </h2>
                    <div id="collapseGeologia" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            El objetivo general de la Maestría en Geología es formar maestros especializados en el
                            área de la geología de alta calidad,
                            con capacidades críticas para desempeñarse en instituciones públicas y privadas que se
                            dedican a la exploración, aprovechamiento y
                            gestión de recursos geológicos.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseIngAgua" aria-expanded="false" aria-controls="collapseIngAgua">
                            Maestría en Ciencias en Ingeniería del Agua y la Energía (Investigación)
                        </button>
                    </h2>
                    <div id="collapseIngAgua" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            La Maestría en Ciencias en Ingeniería del Agua y la Energía tiene por objeto cubrir las
                            demandas creadas por el sector productivo,
                            social académico y principalmente científico y tecnológico, en el estado de Jalisco,
                            como en el resto de estados de la República Mexicana.
                            Se formarán profesionistas altamente capacitados que participen en el ámbito de la
                            docencia y que tendrán la capacidad de desarrollar ideas
                            que coadyuven en la generación de nuevo conocimiento y aplicación del conocimiento.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseAntropologicas" aria-expanded="false"
                            aria-controls="collapseAntropologicas">
                            Maestría en Ciencias Antropológicas
                        </button>
                    </h2>
                    <div id="collapseAntropologicas" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            Este programa surge ante la necesidad de formar investigadores con conocimiento integral
                            de la disciplina,
                            centrados en el manejo de los enfoques teórico metodológicos medulares y contemporáneos
                            de la antropología en el ámbito local y global,
                            para que sean capaces de desarrollar proyectos de investigación y proponer programas de
                            impacto social sustentados en los temas de estudio de su competencia,
                            desarrollando habilidades de interlocución con otras disciplinas sociales. De este modo
                            se busca que el posgrado aporte un profundo y completo conocimiento sobre la
                            antropología,
                            desarrollando en los estudiantes las competencias que son demandadas por la realidad
                            social.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseCienciasDeLaCiudad" aria-expanded="false"
                            aria-controls="collapseCienciasDeLaCiudad">
                            Maestría en Ciencia de la Ciudad
                        </button>
                    </h2>
                    <div id="collapseCienciasDeLaCiudad" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            La Maestría en Ciencia de la Ciudad (MCCd) propone una construcción estructural sólida
                            hacia la visión transdisciplinar,
                            para comprender los procesos urbanos, condición necesaria para el conocimiento de
                            sistemas complejos como las ciudades.
                            Se orienta hacia la investigación y promueve el desarrollo tecnológico, la innovación y
                            la aplicación la investigación en
                            el camino hacia la transformación del conocimiento de las intervenciones urbanas.
                        </div>
                    </div>
                </div>
                <div class="accordion-item"></div>
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseBioetica" aria-expanded="false" aria-controls="collapseBioetica">
                        Maestría en Bioética
                    </button>
                </h2>
                <div id="collapseBioetica" class="accordion-collapse collapse px-4 py-4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body text-start">
                        La bioética, de acuerdo con los documentos internacionales que la definen, debe concebirse
                        como una disciplina plural y pluridisciplinaria.
                        Esto cobra gran sentido en el contexto nacional, si consideramos que una problemática
                        bioética implica aspectos humanísticos, sociales, científicos,
                        tecnológicos y administrativos. Además, el mosaico cultural de nuestro país, así como las
                        grandes desigualdades de oportunidades,
                        nos colocan en una situación sine qua non para la atención de los preceptos de la bioética.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center p-5 shadow mb-5 rounded" style="background-color: #002d6318;">
        <h2 class="text-start mb-3" style="font-size: 2.5rem;">Doctorados</h2>
        <p class="text-start mb-5" style="font-size: 2rem; text-align: justify;">Nuestros programas de doctorado están orientados a la investigación y la innovación. Únete a una comunidad académica comprometida con el avance del conocimiento y el desarrollo de soluciones a los retos globales.</p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseMovUrbanaDoc" aria-expanded="false"
                        aria-controls="collapseMovUrbanaDoc">
                        Doctorado en Movilidad Urbana, Transporte y Territorio
                    </button>
                </h2>
                <div id="collapseMovUrbanaDoc" class="accordion-collapse collapse px-4 py-4"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body text-start">
                        La Maestría en Movilidad Urbana, Transporte y Territorio (MMUTT) se encuentra dentro del
                        Padrón Nacional de Posgrados del
                        Consejo Nacional de Ciencia y Tecnología (CONACYT). En un acercamiento general sobre la
                        problemática de las ciudades,
                        cada vez más acentuada en el tema de la movilidad urbana y el transporte, resalta la
                        necesidad de realizar estudios sobre su desarrollo,
                        sus posibilidades creativas, renovación de las infraestructuras, de los equipamientos, de
                        los materiales y capacidades técnicas, así como los métodos y
                        tecnologías en que pueden apoyarse en cada una de sus variantes.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseMultiSalud" aria-expanded="false"
                            aria-controls="collapseMultiSalud">
                            Doctorado en Investigación Multidisciplinaria en Salud
                        </button>
                    </h2>
                    <div id="collapseMultiSalud" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            Los países considerados potencias mundiales son aquellos que han sustentado su economía
                            en el desarrollo de sus recursos
                            y no en aquellos que la naturaleza les otorgo. Estos recursos, creados por ellos mismos,
                            son producto de un modelo
                            basado en la Ciencia o el desarrollo científico. Este marco les permite identificar y
                            caracterizar el problema y, por ende,
                            crear la tecnología para resolver problemas inherentes de su sociedad y su tiempo sin la
                            dependencia de otros. Sin embargo,
                            el principal atributo de trabajar bajo este marco científico les permite vislumbrar,
                            elegir y planear su futuro.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDocGeologia" aria-expanded="false"
                            aria-controls="collapseDocGeologia">
                            Doctorado en Geología
                        </button>
                    </h2>
                    <div id="collapseDocGeologia" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            El objetivo general del Doctorado en Geología es formar investigadores calificados y con
                            capacidad para desarrollar
                            investigación en el área de la geología, tanto en el ámbito regional, nacional e
                            internacional.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDerHumanos" aria-expanded="false"
                            aria-controls="collapseDerHumanos">
                            Doctorado en Derechos Humanos
                        </button>
                    </h2>
                    <div id="collapseDerHumanos" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            La reforma constitucional del 2011, que obliga a todas las autoridades en el ámbito de
                            sus competencias a promover,
                            respetar, proteger y garantizar los derechos humanos; sin embargo, hasta el momento, su
                            estudio se ha abocado más
                            desde la función pública y el ejercicio jurisdiccional, sin embargo, esta obligación va
                            más allá, toda vez que tal
                            obligación implica a todos los profesionistas en cualquier área de conocimiento que
                            posean un poder o mando ya sea de hecho o de derecho.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDocAgua" aria-expanded="false" aria-controls="collapseDocAgua">
                            Doctorado en Agua y Energía
                        </button>
                    </h2>
                    <div id="collapseDocAgua" class="accordion-collapse collapse px-4 py-4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body text-start">
                            Es un programa de investigación avanzada que se centra en el estudio interdisciplinario
                            de la gestión,
                            conservación y uso eficiente de recursos hídricos y energéticos. Los estudiantes de este
                            programa exploran
                            temas como la hidrología, tecnologías de energía renovable, políticas de recursos
                            naturales y la interacción
                            entre agua y energía en contextos ambientales y socioeconómicos.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-5 justify-content-evenly shadow mb-5 rounded objetivo">
        <div class="card text-center p-5 shadow mb-5 bg-body-tertiary rounded">
            <div class="card-body">
                <h5 class="card-title py-4">¿Por qué elegir estudiar nuestros Posgrádos?</h5>
            </div>
        </div>
        <div class="card col-3 p-0 shadow mb-5 bg-body-tertiary rounded">
            <img src="{{ url_for('static', filename='img/card1.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-2 px-2">Excelencia Académica</h5>
                <p class="card-text py-2 px-2" style="text-align: justify;">Nuestros programas de posgrado están diseñados para brindar una
                    educación de clase mundial, que te preparará para destacarte en tu campo profesional.</p>
            </div>
        </div>
    
        <div class="card col-3 p-0 shadow mb-5 bg-body-tertiary rounded">
            <img src="{{ url_for('static', filename='img/card2.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-2 px-2">Investigación Innovadora</h5>
                <p class="card-text py-2 px-2" style="text-align: justify;">Únete a una comunidad académica que impulsa la investigación
                    innovadora en una amplia variedad de disciplinas.</p>
            </div>
        </div>
    
        <div class="card col-3 p-0 shadow mb-5 bg-body-tertiary rounded">
            <img src="{{ url_for('static', filename='img/card3.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-2 px-2">Oportunidades Profesionales</h5>
                <p class="card-text py-2 px-2" style="text-align: justify;">Nuestros graduados están muy solicitados en el mercado laboral,
                    gracias a la formación de alta calidad que reciben.</p>
            </div>
        </div>
    </div>

    <div class="card text-center p-5 shadow bg-body-tertiary mb-5 rounded">
        <div class="card-body">
            <h5 class="card-title py-4">Lo que Ofrecemos</h5>
            <p>
                Descubre nuestros programas de maestrías y doctorados que están diseñados para ayudarte a alcanzar tus metas profesionales y académicas. Desde la Ingeniería del Agua y la Energía hasta la Bioética, nuestros programas combinan excelencia académica y enfoque práctico.
            </p>
            <p>
                Ya sea que estés buscando avanzar en tu carrera o embarcarte en una nueva dirección, tenemos el programa adecuado para ti. Conoce más sobre lo que ofrecemos y encuentra la opción que mejor se alinea con tus objetivos.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <img class="w-100 mb-3" src="{{ url_for('static', filename='img/maestrias.jpg') }}" alt="Programas de Maestría">
                    <h6 class="fw-bold">Programas de Maestría</h6>
                    <p>Profundiza en conocimientos avanzados y desarrolla habilidades especializadas con nuestros programas de maestría.</p>
                </div>
                <div class="col-md-6">
                    <img class="w-100 mb-3 rounded-3" src="{{ url_for('static', filename='img/doctorado.jpg') }}" alt="Programas de Doctorado">
                    <h6 class="fw-bold">Programas de Doctorado</h6>
                    <p>Contribuye al avance del conocimiento a través de la investigación de vanguardia en nuestros programas de doctorado.</p>
                </div>
            </div>
            <form action="http://www.cutonala.udg.mx/oferta-academica/posgrados" method="get">
                <button type="submit" class="btn-registro mx-auto my-0 py-3 col-2">Explorar Programas</button>
            </form>
        </div>
    </div>
    
    
</div>

{% endblock %}