{% extends 'login/baseLogin.html' %}
{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crearC.css') }}">
{% endblock %}

{% block body %}
<form class="form-1 form-signin" action="/crearCuenta" method="POST" >
    {% with messages = get_flashed_messages()  %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
    </div>
    {% endfor %}
    {% endif %}

    {% endwith %}
    <h1 class="txt h2 mb-3 fw-normal">Crear Cuenta</h1>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> 
    <div class="form-floating">
      <input type="text" class="iniciose form-control" id="floatingInput" name="nombre"placeholder="Nombre">
      <label for="floatingInput">Nombre(s)</label>
    </div>
    <div class="form-floating">
      <input type="text" class="iniciose form-control" id="floatingInput" name="apellidoP"placeholder="Apellido">
      <label for="floatingInput">Apellido Paterno</label>
    </div>
    <div class="form-floating">
      <input type="text" class="iniciose form-control" id="floatingInput" name="apellidoM" placeholder="Apellido">
      <label for="floatingInput">Apellido Materno</label>
    </div>
    <div class="form-floating">
      <input type="email" class="iniciose form-control" id="floatingInput" name="correo" placeholder="name@example.com">
      <label for="floatingInput">Correo electronico</label>
    </div>
    <div class="form-floating">
      <input type="password" class="iniciose form-control" id="floatingPassword" name="clave" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <div class="form-floating">
      <input type="password" class="iniciose form-control" id="floatingPassword" name="confirmarClave" placeholder="Password">
      <label for="floatingPassword">Confirmar la contraseña</label>
    </div>
    <button class="btn btn-primary py-2" type="submit">Crear Cuenta</button>
    <div class="form-check text-center my-3">
      <a class="link link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover " href="{{ url_for('login') }}">
        Regresar
      </a>
    </div>
  </form>
{% endblock %}