{% extends 'panelPrincipal/informacion/baseInformacion.html' %} {%block
contenido%}
<div class="card p-4">
  <div class="card-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-mortarboard"
        viewBox="0 0 16 16">
        <path
          d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917zM8 8.46 1.758 5.965 8 3.052l6.242 2.913z" />
        <path
          d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46z" />
      </svg>
      <strong class="mx-4 apartado">Estudios</strong>
  </div>
  <hr class="hr-navbar opacity-100">
  <div class="card-body">
    <form class="form-cuestionario mx-auto" action="/informacion/estudios" method="POST">
      {% with messages = get_flashed_messages() %}
    
      {% if messages %}
      <br />
      {% for message in messages %}
      <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
      {% endfor %}
      {% endif %}
    
      {% endwith %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <fieldset>
        <div class="container">
          <div class="row my-4">
            <label class="text-label col-12" for="">Centro Universitario/Escuela de prosedencia: </label>
            <input class="campo-datos col-12" type="text" name="centroUniversitario"value="{% if form and form.centro %}{{ form.centro }}{% endif %}"/>
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-2 col-md-2 col-12" for="carrera">Carrera: </label>
            <input class="campo-datos col-lg-10 col-md-10 col-12" type="text" id="carrera" name="carrera" value="{% if form and form.carrera %}{{ form.carrera }}{% endif %}"/>
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-4 col-md-5 col-12" for="cicloEgreso">Ciclo escolar de egreso: </label>
            <input class="campo-datos col-lg-8 col-md-7 col-12" type="text" id="cicloEgreso" name="cicloEscolar" value="{% if form and form.ciclo %}{{ form.ciclo }}{% endif %}"/>
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-2 col-md-2 col-12" for="promedioInput">Promedio</label>
            <input type="text" class="campo-datos col-lg-10 col-md-10 col-12" id="promedioInput" placeholder="Ingresa tu promedio" name="promedio"
            value="{% if form and form.promedio %}{{ form.promedio }}{% endif %}">
          </div>
          
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-3 col-md-3 col-12" for="">Nivel de ingles: </label>
            <select
              class="campo-datos col-lg-9 col-md-9 col-12"
              aria-label="Large select example"
              name="nivelIngles"
            >
              <option selected>Seleccione una opción</option>
              <option value="A0" {% if form and form.ingles == 'A0: Principiante' %} selected {% endif %}>A0: Principiante</option>
              <option value="A1-A2: Básico" {% if form and form.ingles == 'A1-A2: Básico' %} selected {% endif %}>A1-A2: Básico</option>
              <option value="A2-B1: Pre-intermedio" {% if form and form.ingles == 'A2-B1: Pre-intermedio' %} selected {% endif %}>A2-B1: Pre-intermedio</option>
              <option value="B1: Intermedio" {% if form and form.ingles == 'B1: Intermedio' %} selected {% endif %}>B1: Intermedio</option>
              <option value="B2: Intermedio-Alto" {% if form and form.ingles == 'B2: Intermedio-Alto' %} selected {% endif %}>B2: Intermedio-Alto</option>
              <option value="C1-C2: Avanzado" {% if form and form.ingles == 'C1-C2: Avanzado' %} selected {% endif %}>C1-C2: Avanzado</option>
            </select>
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-2" for="">Titulado: </label>
            <div class="col-lg-10 col-md-10 col-12">
              <input
                class="campo-datos radio col-1"
                type="radio"
                name="titulado"
                value="Si"
                {% if form and form.titulado == 'Si' %} checked {% endif %}
              /><label class="col-2">Si</label>
              <input
                class="campo-datos radio col-1"
                type="radio"
                name="titulado"
                value="No"
                {% if form and form.titulado == 'No' %} checked {% endif %}
              /><label class="col-2">No</label>
              <input
                class="campo-datos radio col-1"
                type="radio"
                name="titulado"
                value="En proceso"
                {% if form and form.titulado == 'En Proceso' %} checked {% endif %}
              /><label class="col-lg-3 col-lg-3 col-5">En proceso</label>
            </div>
          </div>
        </div>
        <hr class="hr-navbar opacity-100 mt-5 mb-3">
        <!-- Button trigger modal -->
        <div class="text-end">
          <button
          type="button"
          class="btn-actualizar my-4"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Actualizar
        </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{%endblock%}
