{% extends 'panelPrincipal/informacion/baseInformacion.html' %} {%block
contenido%}
<div class="card p-4">
  <div class="card-header">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-briefcase"
      viewBox="0 0 16 16">
      <path
        d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5m1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0M1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5" />
    </svg>
    <strong class="mx-4 apartado">Laboral</strong>
  </div>
  <hr class="hr-navbar opacity-100">
  <div class="card-body">
    <form class="form-cuestionario mx-auto" action="/informacion/laboral" method="POST">
      {% with messages = get_flashed_messages() %}

      {% if messages %}
      <br />
      {% for message in messages %}
      <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
      </div>
      {% endfor %}
      {% endif %}

      {% endwith %}
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <fieldset>
        <div class="container">
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-6 col-md-6 col-12" for="">¿Estás actualmente trabajando?</label>
            <div class="row col-lg-6 col-md-6 col-12 my-4 justify-content-between align-items-center">
              <div class="col-lg-3 col-md-3 col-6">
                <input class="input-text radio" type="radio" name="estatus" value="Si" {% if form and form.estatus=='Si'
                  %} checked {% endif %} /><label>Si</label>
              </div>
              <div class="col-lg-3 col-md-3 col-6">
                <input class="input-text radio" type="radio" name="estatus" value="No" . {% if form and
                  form.estatus=='No' %} checked {% endif %} /><label>No</label>
              </div>
            </div>
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-4 col-md-5 col-12" for="nombreEmpresa">Nombre de empresa: </label>
            <input class="campo-datos col-lg-8 col-md-7 col-12" type="text" id="nombreEmpresa" name="nombre"
              value="{% if form and form.nombre %}{{ form.nombre }}{% endif %}" />
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-3 col-md-3 col-12" for="horarioInput">Horario laboral</label>
            <input type="text" class="campo-datos col-lg-9 col-md-9 col-12" id="horarioInput" name="horariolaboral"
              placeholder="Ingresa tu horario laboral"
              value="{% if form and form.horario %}{{ form.horario }}{% endif %}">
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label" for="puestoInput">Puesto de trabajo</label>
            <textarea class="campo-datos" id="descripcionResponsabilidades" name="descripcion">{% if form and form.puesto %}{{ form.puesto }}{% endif %}
            </textarea>
          </div>
          <div class="row my-4 justify-content-between align-items-center">
            <label class="text-label col-lg-2 col-md-2 col-12" for="sectorInput">Sector</label>
            <select class="campo-datos col-lg-10 col-md-10 col-12" id="sectorInput" name="sector" data-na>
              <option disabled selected>Selecciona una opción</option>
              <option value="Publico" {% if form and form.sector=='Publico' %} selected {% endif %}>Público</option>
              <option value="Privado" {% if form and form.sector=='Privado' %} selected {% endif %}>Privado</option>
              <option value="NoAplica" {% if form and form.sector=='NoAplica' %} selected {% endif %}>N/A</option>
            </select>
          </div>
        </div>
        <hr class="hr-navbar opacity-100 mt-5 mb-3">
        <!-- Button trigger modal -->
        <div class="text-end">
          <button type="button" class="btn-actualizar my-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Actualizar
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{%endblock%}