{% extends 'panelPrincipal/panelAdmin/basePanelAdmin.html' %}

{% block contenido %}

<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn-Excel" onclick="window.location.href='/registros'">
        Descargar excel
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <table class="table table-striped table-hover table-bordered caption-top">
      <caption>Aspirantes</caption>
      <thead class="table-dark text-center">
        <tr>
          <th scope="col">Nombre(s)</th>
          <th scope="col">Apellido paterno</th>
          <th scope="col">Apellido materno</th>
          <th scope="col">Número de teléfono</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Nivel de inglés</th>
          <th scope="col">Género</th>
          <th scope="col">Titulado</th>
          <th scope="col">Ver información completa</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-center">
        {% for aspirante in aspirantes %}
        <tr>
          <td>{{ aspirante[0] }}</td>
          <td>{{ aspirante[1] }}</td>
          <td>{{ aspirante[2] }}</td>
          <td>{{ aspirante[3] }}</td>
          <td>{{ aspirante[4] }}</td>
          <td>{{ aspirante[5] }}</td>
          <td>{{ aspirante[6] }}</td>
          <td>{{ aspirante[7] }}</td>
          <td>
            <a href="{{ url_for('vermas', id=aspirante.Correo_Alumno) }}">
              <button type="button" class="btn-verMas">Ver más</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-between">
    <div class="col-3 text-center estadisticas py-3">
      <h3>Aspirantes</h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-people"
        viewBox="0 0 16 16">
        <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
      </svg>
      <p>{{ aspirantes|length }}</p>
    </div>
  
    <div class="col-3 text-center estadisticas py-3">
      <h3>Titulados</h3>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-certificate" width="100"
        height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5" />
        <path d="M6 14m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
        <path d="M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5" />
      </svg>
      <p>{{ titulados }}</p>
    </div>
  </div>
</div>

{% endblock %}