:root{
  --blanco: #ffffff;
  --azul: #284C76;
  --azulOscuro: #023a7a;
  --negro: #000000;
  --gris: #EAEAEA;
  --gris-oscuro: #575757;
  --fuente: 'Krub', sans-serif;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  font-family: var(--fuente);
  font-size: 1.6rem;                /*1rem = 10px*/
  background-color: #fcfdfaf9;
  align-items: center;
  justify-content: center;
}
h1, h2, h3, h4, h5{
  font-family: var(--fuente);
  font-weight: 700;
}
h3{
  font-size: 3rem;
}
h5{
  font-size: 2.5rem;
}

/* Pagina de seleccion de posgrado */

.banner {
  background-image: url('../img/home/2.jpg');
  background-color: rgba(255, 255, 255, 0.61); 
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-blend-mode: overlay;
}

.card{
  background-color: #ffffff;
  margin: 5rem 1rem;
}

.form-group{
  font-size: 2rem;
  text-align: start;
}

.form-group select{
  padding: .5rem .5rem;
  font-size: 1.8rem;
  border-style: solid;
  border-width: .1rem;
  border-color: #a0a0a0;
  border-radius: .5rem;
  outline: none;
}

.btn-siguiente{
  text-decoration: none;
  border-radius: 1rem;
  background-color: #011c3df5;
  color: var(--blanco);
  padding: 1.2rem;
  transition: 1s;
}

.btn-siguiente:hover{
  padding: 2rem;
  background-color: #011c3d10;
  color: var(--negro);
  border-style: solid;
  border-width: .1rem;
  border-color: #011c3df5;
}
