{% extends 'panelPrincipal/basePanel.html' %}

{% block title %}Inicio{% endblock %}
{% block useractivo %}{{ current_user.nombre }}{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-12">
      <div class="card shadow p-3 mb-5">
        <div class="card-body text-center row">
          <h5 class="card-title mb-3">Foto De Perfil</h5>
          <span class="linea-negra"></span>
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
            class="bi bi-person-square my-3" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
          </svg>
          <label class="custom-file-upload my-3 btn-fotoPerfil col-4 mx-auto"><input type="file"/>Subir archivo</label>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-md-12">
      <div class="card shadow p-3 mb-5">
        <div class="card-body row text-center">
          <h5 class="card-title mb-3 text-center">Ajustes</h5>
          <span class="linea-negra mb-3"></span>
          <form class="form-general" action="/ajustes" method="POST">
            {% with messages = get_flashed_messages() %}
  
            {% if messages %}
            <br />
            {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
            </div>
            {% endfor %}
            {% endif %}
  
            {% endwith %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  
            <fieldset>
              <div class="container ">
                <div class="col-12 my-5">
                  <label class="text-start col-lg-3 col-md-3 col-12" for="">Nombre(s): </label>
                  <input class="campo-datos col-lg-8 col-md-8 col-12" type="text" name="nombre" value="{{ current_user.nombre }}" />
                </div>
                <div class="col-12 my-5">
                  <label class="text-start col-lg-3 col-md-3 col-12" for="">Apellido paterno: </label>
                  <input class="campo-datos col-lg-8 col-md-8 col-12" type="text" name="apellidoP" value="{{ current_user.apellidoP}}" />
                </div>
                <div class="col-12 my-5">
                  <label class="text-start col-lg-3 col-md-3 col-12" for="">Apellido materno: </label>
                  <input class="campo-datos col-lg-8 col-md-8 col-12" type="text" name="apellidoM" value="{{ current_user.apellidoM }}" />
                </div>
                <div class="col-12 my-5">
                  <label class="text-start col-lg-3 col-md-3 col-12" for="">Correo: </label>
                  <input class="campo-datos col-lg-8 col-md-8 col-12" name="correo" type="email" value="{{ current_user.correo }}" />
                </div>
              </div>
              <div class="text-center">
                <input class="btn-actualizar" type="submit" value="Actualizar" />
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}